.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 300px;
  height: 300px;
  color: black;
  font-size: 15px;
  text-align: center;
}

.slim-box {
  width: 400px;
  height: 700px;
  color: black;
  font-size: 15px;
  text-align: center;
}

.big-box {
  width: 900px;
  height: 700px;
  color: black;
  font-size: 15px;
  text-align: center;
}

.yellow {
  background-color: rgb(201, 235, 131);
}

.blue {
  background-color: turquoise
}

.ctbackground {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url('assets/files-scattered.svg'); /* Path to your SVG file */
  background-size: cover; /* Scale the background to cover the container */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  background-position: center; /* Center the background image */
}

.scrolling-box {
  width: 97.5%;
  height: 110px;
  overflow-y: scroll; /* Allows vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  border: 1px solid #ccc;
  padding: 10px;
}

.rtscrolling-box {
  width: 97.5%;
  height: 150px;
  overflow-y: scroll; /* Allows vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  border: 1px solid #ccc;
  padding: 10px;
}

.finalPage {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url('assets/confetti-full.svg'); /* Path to your SVG file */
  background-size: cover; /* Scale the background to cover the container */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  background-position: center; /* Center the background image */
}

.finalPageCenter {
  color: black;
  text-align: center;
}

.textLeft {
  color: black;
  text-align: left;
}

.text-box-container {
  display: flex;
  height: 20%;
}

.text-box {
  width: 100%;
}

.ulNoDot {
  list-style-type: none;
}